extends base
include mixins/list-members-checkbox

block content 
  form.add-meeting-form(method="POST")
    div.add-meeting-form__book-info
      div
        span 토론 사회자 
        input(name="leader", placeholder="토론 사회자", type="text", required)
      div 
        span 책 제목       
        input(name="bookTitle", placeholder="책 제목", type="text", required)
      div
        span 지은이 
        input(name="bookAuthor", placeholder="지은이", type="text", required)
      div
        span 옮긴이
        input(name="bookTranslator", placeholder="옮긴이", type="text", required)
      div
        span 출판사
        input(name="bookPublisher", placeholder="출판사", type="text", required)
      div
        span 해시태그 
        input(name="hashtags", placeholder="해시태그", type="text")
    div.add-meeting-form__meeting-info
      div.add-meeting-form__meeting-info__questions-box
        span.add-meeting-form__meeting-info__question-title 토론을 위한 질문을 작성해 주세요 (토론일 이틀 전까지)
        span.add-meeting-form__meeting-info__question 질문 1  
        input(name="question1", placeholder="")
        span.add-meeting-form__meeting-info__question 질문 2  
        input(name="question2", placeholder="")
        span.add-meeting-form__meeting-info__question 질문 3  
        input(name="question3", placeholder="")
        span.add-meeting-form__meeting-info__question 질문 4  
        input(name="question4", placeholder="")
        span.add-meeting-form__meeting-info__question 질문 5  
        input(name="question5", placeholder="")
        span.add-meeting-form__meeting-info__question 질문 6  
        input(name="question6", placeholder="")
      label(for="isMeetingDone") 토론 진행 여부
      select(name="isMeetingDone", id="isMeetingDone", value="진행 여부")
        option(value="false") 대기
        option(value="true") 완료
      label(for="date") 토론 날짜
      input(name="date", id="date", type="date")
      h5 참석자
      each member, index in members
        +listMembersCheckbox(member, index)
    input.add-meeting-form__submit-btn(type="submit", value="등록")