extends base.pug

block content 
  if errorMessage
    span=errorMessage
  form(method="POST")
    input(name="title", placeholder="*제목", type="text")
    input(name="author", placeholder="*지은이", type="text")
    input(name="translator", placeholder="옮긴이", type="text")
    input(name="publisher", placeholder="출판사", type="text")
    input(name="hashtags", placeholder="해시태그(쉼표로 구분)", type="text")
    input(name="bookImg", placeholder="사진 링크", type="text")
    input(type="submit", value="Add New")