extends base

block content
  if errorMessage
    h2=errorMessage
  form(method="POST")
    input(name="oldPassword", placeholder="기존 비밀번호", type="password")
    input(name="newPassword", placeholder="새로운 비밀번호", type="password")
    input(name="newPassword2", placeholder="한 번 더 입력", type="password")
    input(type="submit", value="변경")