extends base.pug
include mixins/list-books.pug
include mixins/list-meeting.pug

block content 
  h2 Welcome to World Classic Book Club
    hr
    h2 독서 토론
    hr
  div.meetings__grid  
    if loggedIn
      each meeting, index in meetings
        +listMeeting("public", meeting, index)
    else
      each meeting, index in meetings 
        +listMeeting("private", meeting, index)
  hr 
  h2 도서 목록
  hr
  div.books__grid
    each book, index in books
      +listBooks(book, index)
  hr
  h2 등록 회원 
  hr
  div.members_grid
    each member in members
      ul
        li 
          a(href="/" + `members/profile/other/${member._id}`) #{member.nickname}
        small=member.since
    hr