extends base
include mixins/list-book

block content 
  form.search-book__form(method="GET")
    i.fa-solid.fa-magnifying-glass 
      input.search-input(name="keyword", placeholder="제목 / 지은이", type="text")
    input.submit-btn(type="submit", value="검색")
  if (searchedBooks.length)  
    each book, index in searchedBooks 
      +listBook(book, index)
  else 
    div.extra-comment
      span 책을 읽읍시다!