header 
  a(href="/").header__logo
    i.fa-solid.fa-house
  h1.header__page-title=pageTitle
  nav 
    ul 
      li
        a(href="/search") 
          span 도서 검색 
          i.fa-solid.fa-magnifying-glass 
      if loggedIn
        li 
          a(href="/books/add-book") 
            span 새 책 추가하기 
            i.fa-solid.fa-book-circle-arrow-up
        li 
          a(href="/meetings/add") 
            span 토론 추가하기 
            i.fa-solid.fa-screen-users
        li 
          a(href=`/members/profile/${loggedInMember._id}`) 
            span #{loggedInMember.nickname}님의 프로필 
            i.fa-solid.fa-user
        li
          a(href="/logout") 
            span 로그아웃 
            i.fa-solid.fa-right-from-bracket
      else
        li 
          a(href="/join") 
            span 회원 등록 
            i.fa-solid.fa-person-circle-plus
        li 
          a(href="/login").header__btn 
           span 로그인
hr